@import url('https://fonts.googleapis.com/css2?family=Lato&family=PT+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&family=PT+Sans&display=swap');


#content {
    max-width: 1600px;
    margin: 0 auto;

}

nav a {
    font-family: "PT Sans", "sans-serif";
    text-align: center;
    color: #2ca58d	;
    text-decoration: none;
    padding: 35px;
}

#hero-msg h1, #hero-msg h4 {
    font-family: "PT Sans", "sans-serif";
    text-align: center;
}

.button-box {
    font-family: "PT Sans", "sans-serif";
    text-align: center;
}

main section {
    font-family: "PT Sans", "sans-serif";
    text-align: center;
}

main section img {
    box-sizing: border-box;
}

#background {
    height: 725px;
    background-color: lightgreen;
}

body {
    background-color: white;
    font-family: "PT Sans", "sans-serif";
    font-size: 22px;
    margin: 0;
    padding: 0;
}

h2 {
    margin: 0;
}

header {
    background-color: whitesmoke;
}

nav a:hover {
    background-color: #2ca58d;
    color: whitesmoke;
}

.book, .join {
    font-family: "PT Sans", "sans-serif";
    font-size: 18px;
    background-color: white;
    color: #2ca58d	;
    text-decoration: none;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.book:hover, .join:hover {
    font-family: "PT Sans", "sans-serif";
    background-color: #2ca58d	;
    color: white;
}

.msg {
    background-color: aqua;
    line-height: 1.5em;
    padding: 35px;
}

.msg h2 {
    font-family: "Lato", "sans-serif";
    /* font-size: 2em; */
    color: #2ca58d	;
}

.msg p {
    font-family: "PT Sans", "sans-serif";
    font-size: 0.8em;
    color: #2ca58d	;
    padding-bottom: 15px;
}

footer {
    background-color: aqua;
    padding: 25px 50px;
    margin-top: 200px;
}

footer:hover {

    background-color: lightgreen;
}

footer h3 {
    font-family: "PT Sans", "sans-serif";
    color:#2ca58d	;
}

footer a {
    font-family: "PT Sans", "sans-serif";
    color: #2ca58d	;
    text-decoration: none;
}

footer a:hover {
    font-family: "PT Sans", "sans-serif";
    color: white;
}

.home-title {
    font-family: "Lato", "sans-serif";
    color:#2ca58d	;
    font-size: 2em;
    margin-top: 10px;
}

h4 {
    font-family: "PT Sans", "sans-serif";
    color: #2ca58d	;
}

.icon {
    width: 80px;
    padding-top: 10px;
}

.logo {
    width: 80px;
}

#logo_link {
    padding-top: 5px;
}

#hero-img {
    width: 100%;
}

footer h3 a:hover {
    font-family: "PT Sans", "sans-serif";
    text-decoration: underline;
}

footer .social img {
    padding-top: 15px;
}

.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0;;
}

.card-img {
    border: 10px solid #345995 ;
}

/* h1{
    font-family: "Lato", "sans-serif";
    font-size: 2em;
}

p {
    font-family: "PT Sans", "sans-serif";
    font-size: 0.8em;
}

a {
    font-family: "PT Sans", "sans-serif";
    font-size: 0.8em;
} */