@import url('https://fonts.googleapis.com/css2?family=Lato&family=PT+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&family=PT+Sans&display=swap');


#content {
    max-width: 1600px;
    margin: 0 auto;

}


#hero-msg h1, #hero-msg h4 {
    font-family: "PT Sans", "sans-serif";
    text-align: center;
}

.button-box {
    font-family: "PT Sans", "sans-serif";
    text-align: center;
    margin-top: 20px;
}

main section {
    font-family: "PT Sans", "sans-serif";
    text-align: center;
}

main section img {
    box-sizing: border-box;
}

#background {
    height: 725px;
    background-color: lightgreen;
    grid-column: 1/11;
    grid-row: 4/9;
}

body {
    background-color: white;
    font-family: "PT Sans", "sans-serif";
    font-size: 22px;
    margin: 0;
    padding: 0;
}

h2 {
    margin: 0;
}

header {
    background-color: whitesmoke;
    display:grid;
    grid-template-columns: 150px auto;
}

nav {
    display: flex;
    justify-content: space-around;
}

nav a {
    font-family: "PT Sans", "sans-serif";
    text-align: center;
    color: #2ca58d	;
    text-decoration: none;
    padding: 35px;
}

nav a:hover {
    background-color: #2ca58d;
    color: whitesmoke;
}

.book, .join {
    font-family: "PT Sans", "sans-serif";
    font-size: 18px;
    background-color: #d3d1d1;
    color: #2ca58d	;
    text-decoration: none;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.book:hover, .join:hover {
    font-family: "PT Sans", "sans-serif";
    background-color: #2ca58d	;
    color: white;
}

.msg {
    background-color: aqua;
    line-height: 1.5em;
    padding: 35px;
    grid-column: 6/10;
    grid-row: 6/7;
    box-shadow: 5px 5px 10px black;
}

.msg h2 {
    font-family: "Lato", "sans-serif";
    /* font-size: 2em; */
    color: #2ca58d	;
}

.msg p {
    font-family: "PT Sans", "sans-serif";
    font-size: 0.8em;
    color: #2ca58d	;
    padding-bottom: 15px;
}

footer {
    background-color: aqua;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer:hover {

    background-color: lightgreen;
}

footer h3 {
    font-family: "PT Sans", "sans-serif";
    color:#2ca58d	;
}

footer a {
    font-family: "PT Sans", "sans-serif";
    color: #2ca58d	;
    text-decoration: none;
}

footer a:hover {
    font-family: "PT Sans", "sans-serif";
    color: white;
}

.home-grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}

.home-title {
    text-align: center;
    font-family: "Lato", "sans-serif";
    color:#2ca58d	;
    font-size: 2em;
    margin-top: 10px;
}

h4, h2 {
    text-align: center;
    font-family: "PT Sans", "sans-serif";
    color: #2ca58d	;
}

.icon {
    width: 80px;
    padding-top: 10px;
}

.logo {
    width: 80px;
}

#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}

#hero {
    display:grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px;
}

#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}

#hero-msg {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
}

#hero-img {
    width: 100%;
}

footer h3 a:hover {
    font-family: "PT Sans", "sans-serif";
    text-decoration: underline;
}

footer .social img {
    padding-top: 15px;
}

.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0;
    text-align: center;
}

.rivers-card {
    grid-column: 2/4;
    grid-row: 2/3;
}

.camping-card {
    grid-column: 5/7;
    grid-row: 2/3;
}

.rapids-card {
    grid-column: 8/10;
    grid-row: 2/3;
}

.mountains {
    width: 100%;
    grid-column: 2/7;
    grid-row: 5/8;
    box-shadow: 5px 5px 10px black;
}

.card-img {
    max-width: 100%;
    border: 10px solid #345995 ;
    transition: transform .5s;
    box-shadow: 5px 5px 10px black;
}

.card-img:hover {
    opacity: .6;
    transform: scale(1.1);
}

#rivers-grid {
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.river1 {
    grid-column: 2/3;
}

.river2 {
    grid-column: 4/5;
}

.river3 {
    grid-column: 6/7;
}

#rivers-main-grid {
    margin-top: 100px;
    margin-bottom: -120px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.r1 {
    grid-column: 1/2;
    grid-row: 1/2;
    justify-self: center;
    margin-top: 35px;
}

.p1 {
    grid-column: 2/4;
    grid-row: 1/2;
    padding-right: 40px;
}

.r2 {
    grid-column: 3/4;
    grid-row: 2/3;
    justify-self: center;
    margin-top: 35px;
}

.p2 {
    grid-column: 1/3;
    grid-row: 2/3;
    padding-left: 40px;
    margin-top: 50px;
}

.r3 {
    grid-column: 1/2;
    grid-row: 3/4;
    justify-self: center;
    margin-top: 35px;
}

.p3 {
    grid-column: 2/4;
    grid-row: 3/4;
    padding-right: 40px;
}

.rivers-sub {
    text-align: center;
}

.rivers-title {
    font-size: 45px;
    color: #6f7364;
    margin-top: 50px;
    text-align: center;
}

form {
    /* Center the form on the page */
    margin: 0 auto;
    width: 400px;
    justify-self: center;
    /* Form outline */
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
  }
  
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  form li + li {
    margin-top: 1em;
  }
  
  label {
    /* Uniform size & alignment */
    display: inline-block;
    width: 90px;
    text-align: right;
  }
  
  input,
  textarea {
    /* To make sure that all text fields have the same font settings
       By default, textareas have a monospace font */
    font: 1em sans-serif;
  
    /* Uniform text field size */
    width: 300px;
    box-sizing: border-box;
  
    /* Match form field borders */
    border: 1px solid #999;
  }
  
  input:focus,
  textarea:focus {
    /* Additional highlight for focused elements */
    border-color: #000;
  }
  
  textarea {
    /* Align multiline text fields with their labels */
    vertical-align: top;
  
    /* Provide space to type some text */
    height: 5em;
  }
  
  .button {
    /* Align buttons with the text fields */
    padding-left: 90px; /* same size as the label elements */
  }
  
  button {
    /* This extra margin represent roughly the same space as the space
       between the labels and their text fields */
    margin-left: .5em;
  }

  #feedback {
    background-color: antiquewhite;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: .5em;
    /* make this element invisible until we are ready for it */
    display: none;       
}
.moveDown {
    margin-top: 3em;
}

#form-container {
    align-self: center;
}

/* h1{
    font-family: "Lato", "sans-serif";
    font-size: 2em;
}

p {
    font-family: "PT Sans", "sans-serif";
    font-size: 0.8em;
}

a {
    font-family: "PT Sans", "sans-serif";
    font-size: 0.8em;
} */

@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    .home-title {
        font-size: 25px;
        color: #6f7364;
    }
    .rivers-card, .camping-card, .rapids-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
}