#content {
    max-width: 1600px;
    margin: 0 auto;

}

nav a {
    text-align: center;
    color: #2ca58d	;
    text-decoration: none;
}

#hero-msg h1, #hero-msg h4 {
    text-align: center;
}

.button-box {
    text-align: center;
}

main section {
    text-align: center;
}

#background {
    height: 725px;
    background-color: lightgreen;
}

body {
    background-color: white;
}

header {
    background-color: whitesmoke;
}

nav a:hover {
    background-color: black;
    color: whitesmoke;
}

.book, .join {
    background-color: white;
    color: #2ca58d	;
    text-decoration: none;
}

.book:hover, .join:hover {
    background-color: #2ca58d	;
    color: white;
}

.msg {
    background-color: aqua;
}

.msg h2 {
    color: #2ca58d	;
}

.msg p {
    color: #2ca58d	;
}

footer {
    background-color: aqua;
}

footer:hover {
    background-color: lightgreen;
}

footer h3 {
    color:#2ca58d	;
}

footer a {
    color: #2ca58d	;
    text-decoration: none;
}

footer a:hover {
    color: white;
}

.home-title {
    color:#2ca58d	;
}

h4 {
    color: #2ca58d	;
}

.icon {
    width: 80px;
}

.logo {
    width: 80px;
}

#hero-img {
    width: 100%;
}

footer h3 a:hover {
    text-decoration: underline;
}