@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=PT+Sans&family=Ubuntu&display=swap');

:root {
    --primary-color: #5E4C5A   ;
    --secondary-color: #55917F ;
    --accent1-color: #6BAB90;
    --accent2-color: #E1F0C4;
  
    --heading-font: "PT Sans";
    --paragraph-font: Ubuntu, Helvetica, sans-serif;
  
    --headline-color-on-white: #5E4C5A;  /* headlines on a white background */ 
    --headline-color-on-color: #E1F0C4; /* headlines on a colored background */ 
    --paragraph-color-on-white: #5E4C5A; /* paragraph text on a white background */ 
    --paragraph-color-on-color: #E1F0C4; /* paragraph text on a colored background */ 
    --paragraph-background-color: #5E4C5A  ;
    --nav-link-color: #5E4C5A;
    --nav-background-color: #6BAB90;
    --nav-hover-link-color: #E1F0C4;
    --nav-hover-background-color: #5E4C5A;
  }
  
h1, h2, h3, h4, h5, h6, .tech-blog-concern {
    font-family: var(--heading-font);
    color: var(--headline-color-on-white);
  }

p {
    font-family: var(--paragraph-font);
    color: var(--paragraph-color);
  }

body {
    max-width: 1920px;
}
/*MAIN CSS (NAV AND FOOTER)*/

#navvv {
    border: #000 solid 2px;
}

a {
    text-decoration: none;
}

body {
    margin: 0px;
    padding: 0px;
}

#nav-bar {
    all: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#logo-nav {
    grid-column: 1/2;
    text-align: center;
    margin: auto;
}

nav {
    grid-column: 2/3;
    text-align: center;
    margin: auto;
    display: flex;
}

#home-nav {
    text-decoration: none;
    padding: 35px;
    font-family: var(--heading-font);
    font-size: larger;
    color: var(--headline-color-on-white);
}

#tech-blog-nav {
    text-decoration: none;
    padding: 35px;
    font-family: var(--heading-font);
    font-size: larger;
    color: var(--headline-color-on-white);
}

#recommendations-nav {
    text-decoration: none;
    padding: 35px;
    font-family: var(--heading-font);
    font-size: larger;
    color: var(--headline-color-on-white);
}

#home-nav:hover {
    text-decoration: none;
    padding: 35px;
    background-color: #5E4C5A;
    color: white;
}

#tech-blog-nav:hover {
    text-decoration: none;
    padding: 35px;
    background-color: #5E4C5A;
    color: white;
}

#recommendations-nav:hover {
    text-decoration: none;
    padding: 35px;
    background-color: #5E4C5A;
    color: white;
}

#button-nav {
    font-family: var(--heading-font);
    font-size: larger;
    width: 15px;
    height: 15px;
    grid-column: 3/4;
    /*justify-self: right;*/
    margin: auto;
    padding: 25px;
    border: #000 solid 2px;
    border-radius: 50%;
    background-color: white;
    color: #5E4C5A;
    text-align: center;
}

#button-nav:hover {
    background-color: #5E4C5A;
    color: white;
}

footer {
    display: grid;
    grid-template-columns: 1fr 2fr;
    background-color: #5E4C5A;
    color: var(--accent2-color);
}

#left-footer h1 {
    color: var(--accent2-color);
    margin-left: 5%;
}

#left-footer p {
    margin-left: 5%;
}

#left-footer a {
    text-decoration: none;
    margin-left: 5%;
    margin-bottom: 15%;
    color: var(--accent2-color);
    font-family: var(--paragraph-font);
    font-size: 1.5em;
}

#left-footer {
    grid-column: 1/2;
}

#right-footer {
    grid-column: 2/3;
    justify-self: right;
    padding-top: 2em;
}

.icon-footer {
    margin-top: 50px;
}


                    /*FORM CSS*/


form {
    /* Center the form on the page */
    margin: 0 auto;
    width: 1200px;
    justify-self: center;
    /* Form outline */
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
  }
  
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  form li + li {
    margin-top: 1em;
  }
  
  label {
    display: inline-block;
    width: 90px;
    text-align: right;
  }
  
  input,
  textarea {
    font:large var(--paragraph-font);
  
    width: 1100px;
    box-sizing: border-box;
  
    border: 1px solid #999;
  }
  
  input:focus,
  textarea:focus {
    border-color: #000;
  }
  
  textarea {
    vertical-align: top;
    height: 5em;
  }
  
  .button {
    /* Align buttons with the text fields */
    padding-left: 90px; /* same size as the label elements */
  }
  
  button {
    /* This extra margin represent roughly the same space as the space
       between the labels and their text fields */
    margin-left: .5em;
  }

  #feedback {
    background-color: antiquewhite;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: .5em;
    /* make this element invisible until we are ready for it */
    display: none;       
}
.moveDown {
    margin-top: 3em;
}

#form-container {
    align-self: center;
}

                        /* HOME PAGE CSS*/

#home-main-div {
    background-color: #5E4C5A;
}


.home-tittle {
    text-align: center;
    padding-top: 5%;
    color: var(--accent2-color);
}

.home-img {
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    margin-bottom: 60px;
}

.home-p {
    margin: 5% 20%;
    text-align: center;
    padding-bottom: 5%;
    color: white;
}



.button-main {
    grid-column: 2;
    display: block;
    margin-left: auto ;
    margin-right: auto;
    margin-top: -5%;

    background-color: grey;
    border: none;
    border-radius: 10px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}





#main-cpu {
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin-top: 15%;
}

#main-cpu img {
    grid-column: 1;
    margin-left: 20%
}

#main-cpu p {
    grid-column: 2;
    padding: 5%;
    margin-right: 8%;
    text-align: center;
    color: #E1F0C4;
    background-color: #5E4C5A;
}





#main-memory {
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin-top: 15%;
}

#main-memory img {
    grid-column: 1;
    margin-left: 20%
}

#main-memory p {
    grid-column: 2;
    padding: 5%;
    margin-right: 8%;
    text-align: center;
    color: #E1F0C4;
    background-color: #5E4C5A;
}






#main-storage {
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin-top: 15%;
}

#main-storage img {
    grid-column: 1;
    margin-left: 20%
}

#main-storage p {
    grid-column: 2;
    padding: 5%;
    margin-right: 8%;
    text-align: center;
    color: #E1F0C4;
    background-color: #5E4C5A;

}






#main-gpu {
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin-top: 15%;
    margin-bottom: 15%;
}

#main-gpu img {
    grid-column: 1;
    margin-left: 20%
}

#main-gpu p {
    grid-column: 2;
    padding: 5%;
    margin-right: 8%;
    text-align: center;
    color: #E1F0C4;
    background-color: #5E4C5A;

}


                /*TECH BLOG CSS*/

#tech-blog-main-div {
    background-color: #5E4C5A;
}

.tech-blog-solution {
    font-family: var(--paragraph-font);
    font-size: large;
    padding-top: 2%;
    padding-right: 15%;
    text-align: center;
    margin-top: -1%;
}

.tech-blog-concern {
    padding-left: 15%;
    margin-top: 5%;
    margin-bottom: 5%;
}

form {
    margin-bottom: 6%;
}




                                    /*RECOMMENDATIONS CSS*/



.recommendations-tittle {
    font-family:var(--heading-font);
    font: var(--heading-font);
    text-align: center;
    padding-top: 5%;
    background-color: #5E4C5A;
}

.recommendations-tittle h1 {
    color: var(--accent2-color);
}

.recommendations-img {
    width: 15%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    margin-bottom: 60px;
}

.recommendations-p {
    margin: 5% 20%;
    text-align: center;
    padding-bottom: 5%;
    font-family: var(--paragraph-font);
    color: white;
}

.best-item-tittle h1 {
    text-align: center;
    padding-top: 5%;
    margin-top: 4%;
}

.best-item-tittle p {
    text-align: center;
    margin-top: 4%;
    margin-left: 30%;
    margin-right: 30%;
    color: var(--nav-hover-link-color);
    padding: 3%;
    border-radius: 25px;
    font-size: 1.5em;

}

/* .recommendations-item1 {
    display: block;
    margin: 0 auto;
} */


/*RECOMMENDATIONS ITEMS GRID*/
.recommendations-main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 450px 1fr;
}

.best-item-tittle {
    grid-column: 1/4;
    grid-row: 1;
    background-color: var(--accent1-color);
    height: 550px;
}

.recommendations-item1 {
    grid-column: 1;
    grid-row: 2;
    display: block;
    margin-bottom: 15%;
}

.recommendations-item1 img {
    display: block;
    margin: 0 auto;
    margin-top: 25%;
    margin-bottom: 5%;
    padding: 5%;
    border: #000 solid 4px;
    width: 60%;
    border-radius: 20px;
    box-shadow: 5px 5px darkslategrey;
}

.recommendations-item2 {
    grid-column: 2;
    grid-row: 2;
    margin-bottom: 15%;
}

.recommendations-item2 img {
    display: block;
    margin: 0 auto;
    margin-top: 25%;
    margin-bottom: 5%;
    padding: 5%;
    border: #000 solid 4px;
    width: 60%;
    border-radius: 20px;
    box-shadow: 5px 5px darkslategrey;
}

.recommendations-item3 {
    grid-column: 3;
    grid-row: 2;
    margin-bottom: 15%;
}

.recommendations-item3 img {
    display: block;
    margin: 0 auto;
    margin-top: 25%;
    margin-bottom: 5%;
    padding: 5%;
    border: #000 solid 4px;
    width: 60%;
    border-radius: 20px;
    box-shadow: 5px 5px darkslategrey;
}


/*BUTTON TO CHECK PRICE*/
.check-price-button {
    

                                    
    background-color: grey;
    border: none;
    border-radius: 10px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    justify-self: center;
    margin-left: 35%;
    margin-right: 35%;
    margin-top: auto;
    font-family: var(--paragraph-font);
}

.honor-mentions {
    grid-row: 3; 
    display: grid;
    grid-template-columns: repeat(4, 150px);
    grid-template-rows: repeat(2, 150px);
    place-items: center;
    place-self: center;
    place-content: center;
    margin-bottom: 10%;
}

.honor-mentions-h2 {
    text-align: center;
}

.honor-mentions img {
    display: block;
    width: 150px;

}

.h-m-1 {
    grid-column: 1;
    grid-row: 1;
}
.h-m-2 {
    grid-column: 2;
    grid-row: 1;
}
.h-m-3 {
    grid-column: 3;
    grid-row: 1;
}
.h-m-4 {
    grid-column: 4;
    grid-row: 1;
}
.h-m-5 {
    grid-column: 1;
    grid-row: 2;
}
.h-m-6 {
    grid-column: 2;
    grid-row: 2;
}
.h-m-7 {
    grid-column: 3;
    grid-row: 2;
}
.h-m-8 {
    grid-column: 4;
    grid-row: 2;
}