@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=PT+Sans&family=Ubuntu&display=swap');

:root {
    --primary-color: #5E4C5A   ;
    --secondary-color: #55917F ;
    --accent1-color: #6BAB90;
    --accent2-color: #E1F0C4;
  
    --heading-font: "PT Sans";
    --paragraph-font: Ubuntu, Helvetica, sans-serif;
  
    --headline-color-on-white: #5E4C5A;  /* headlines on a white background */ 
    --headline-color-on-color: #E1F0C4; /* headlines on a colored background */ 
    --paragraph-color-on-white: #5E4C5A; /* paragraph text on a white background */ 
    --paragraph-color-on-color: #E1F0C4; /* paragraph text on a colored background */ 
    --paragraph-background-color: #5E4C5A  ;
    --nav-link-color: #5E4C5A;
    --nav-background-color: #6BAB90;
    --nav-hover-link-color: #E1F0C4;
    --nav-hover-background-color: #5E4C5A;
  }
  
h1, h2, h3, h4, h5, h6, .tech-blog-concern {
    font-family: var(--heading-font);
    color: var(--headline-color-on-white);
  }

p {
    font-family: var(--paragraph-font);
    color: var(--paragraph-color);
  }


/*MAIN CSS (NAV AND FOOTER)*/

a {
    text-decoration: none;
}

body {
    margin: 0px;
    padding: 0px;
}

#nav-bar {
    all: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#logo-nav {
    grid-column: 1/2;
    text-align: center;
    margin: auto;
}

nav {
    grid-column: 2/3;
    text-align: center;
    margin: auto;
    display: flex;
}

#home-nav {
    text-decoration: none;
    padding: 35px;
}

#tech-blog-nav {
    text-decoration: none;
    padding: 35px;
}

#recommendations-nav {
    text-decoration: none;
    padding: 35px;
}

#home-nav:hover {
    text-decoration: none;
    padding: 35px;
    background-color: #5E4C5A;
}

#tech-blog-nav:hover {
    text-decoration: none;
    padding: 35px;
    background-color: #5E4C5A;
}

#recommendations-nav:hover {
    text-decoration: none;
    padding: 35px;
    background-color: #5E4C5A;
}

#button-nav {
    width: 15px;
    height: 15px;
    grid-column: 3/4;
    justify-self: right;
    margin: auto;
    padding: 35px;
    border-radius: 50%;
    background-color: white;
    color: #5E4C5A;
}

#button-nav:hover {
    width: 15px;
    height: 15px;
    grid-column: 3/4;
    justify-self: right;
    margin: auto;
    padding: 35px;
    border-radius: 50%;
    background-color: #5E4C5A;
    color: white;
}

footer {
    display: grid;
    grid-template-columns: 1fr 2fr;
    background-color: #5E4C5A;
}

#left-footer {
    grid-column: 1/2;
}

#right-footer {
    grid-column: 2/3;
    justify-self: right;
    padding-top: 2em;
}

.icon-footer {
    margin-top: 50px;
}


                    /*FORM CSS*/


form {
    /* Center the form on the page */
    margin: 0 auto;
    width: 1200px;
    justify-self: center;
    /* Form outline */
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
  }
  
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  form li + li {
    margin-top: 1em;
  }
  
  label {
    display: inline-block;
    width: 90px;
    text-align: right;
  }
  
  input,
  textarea {
    font:large var(--paragraph-font);
  
    width: 1100px;
    box-sizing: border-box;
  
    border: 1px solid #999;
  }
  
  input:focus,
  textarea:focus {
    border-color: #000;
  }
  
  textarea {
    vertical-align: top;
    height: 5em;
  }
  
  .button {
    /* Align buttons with the text fields */
    padding-left: 90px; /* same size as the label elements */
  }
  
  button {
    /* This extra margin represent roughly the same space as the space
       between the labels and their text fields */
    margin-left: .5em;
  }

  #feedback {
    background-color: antiquewhite;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: .5em;
    /* make this element invisible until we are ready for it */
    display: none;       
}
.moveDown {
    margin-top: 3em;
}

#form-container {
    align-self: center;
}

                        /* HOME PAGE CSS*/

#home-main-div {
    background-color: #6BAB90;
}


.home-tittle {
    text-align: center;
    padding-top: 5%;
}

.home-img {
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    margin-bottom: 60px;
}

.home-p {
    margin: 5% 20%;
    text-align: center;
    padding-bottom: 5%;
}



.button-main {
    grid-column: 2;
    display: block;
    margin-left: auto ;
    margin-right: auto;
    margin-top: -5%;

    background-color: grey;
    border: none;
    border-radius: 10px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}





#main-cpu {
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin-top: 15%;
}

#main-cpu img {
    grid-column: 1;
    margin-left: 20%
}

#main-cpu p {
    grid-column: 2;
    padding: 5%;
    margin-right: 8%;
    text-align: center;
    color: #E1F0C4;
    background-color: #5E4C5A;
}





#main-memory {
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin-top: 15%;
}

#main-memory img {
    grid-column: 1;
    margin-left: 20%
}

#main-memory p {
    grid-column: 2;
    padding: 5%;
    margin-right: 8%;
    text-align: center;
    color: #E1F0C4;
    background-color: #5E4C5A;
}






#main-storage {
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin-top: 15%;
}

#main-storage img {
    grid-column: 1;
    margin-left: 20%
}

#main-storage p {
    grid-column: 2;
    padding: 5%;
    margin-right: 8%;
    text-align: center;
    color: #E1F0C4;
    background-color: #5E4C5A;

}






#main-gpu {
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin-top: 15%;
    margin-bottom: 15%;
}

#main-gpu img {
    grid-column: 1;
    margin-left: 20%
}

#main-gpu p {
    grid-column: 2;
    padding: 5%;
    margin-right: 8%;
    text-align: center;
    color: #E1F0C4;
    background-color: #5E4C5A;

}


                /*TECH BLOG CSS*/

.tech-blog-solution {
    font-family: var(--paragraph-font);
    font-size: large;
    padding-top: 2%;
    padding-right: 15%;
    text-align: center;
    margin-top: -1%;
}

.tech-blog-concern {
    padding-left: 15%;
    margin-top: 5%;
    margin-bottom: 5%;
}

form {
    margin-bottom: 6%;
}